
?.txt
?.diff
/nohup
/nohup.out
/date.now.txt
/cscope.out
/tags
/_vim/cscope.files
?

/lib/*.so
/lib/*.so.?
/lib/*.so.10
/src/openvpn-2.3.?.tar.xz
/src/openvpn-2.3.1?.tar.xz
/src/openvpn-2.4.?.tar.xz
/src/openvpn-2.4.1?.tar.xz
/srcOPENVPN/openvpn*.tar.xz
/srcOPENVPN/openvpn*.tar.gz

/2.3.?.tar.xz

/2.3.9/
/2.3.10/
/2.3.11/
/2.4.1/
/2.5.7/
